<nav class="navbar navbar-expand-lg menu-bg">
  <div class="container-fluid">
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand nome" href="/">SISTEMA</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nome" href="admin/carros">Carro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nome" href="admin/marcas">Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nome" href="login">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
